In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Contacts.csv')

df.head()

                    Id Contact Owner Name      Created Time     Modified Time
0  5805028000000645014       Rachel White  27.06.2023 11:28  22.12.2023 13:34
1  5805028000000872003      Charlie Davis  03.07.2023 11:31  21.05.2024 10:23
2  5805028000000889001          Bob Brown  02.07.2023 22:37  21.12.2023 13:17
3  5805028000000907006          Bob Brown  03.07.2023 05:44  29.12.2023 15:20
4  5805028000000939010         Nina Scott  04.07.2023 10:11  16.04.2024 16:14

In [4]:
df['Id'] = df['Id'].astype(str)

In [5]:
df.describe()

,Id,Contact Owner Name,Created Time,Modified Time
count,18548,18548,18548,18548
unique,18548,28,17921,16580
top,5805028000000645014,Charlie Davis,10.06.2024 09:00,13.06.2024 17:08
freq,1,2018,13,25

In [6]:
df['Created Time'] = pd.to_datetime(df['Created Time'], dayfirst=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18548 entries, 0 to 18547
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  18548 non-null  object
 1   Contact Owner Name  18548 non-null  object
 2   Created Time        18548 non-null  datetime64[ns]
 3   Modified Time       18548 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 579.8+ KB

In [8]:
df.describe()

                        Created Time
count                          18548
mean   2024-01-24 14:00:21.679965696
min              2023-06-27 11:28:00
25%              2023-11-15 16:40:45
50%              2024-02-01 18:30:00
75%              2024-04-12 16:37:15
max              2024-06-21 15:30:00

In [9]:
df.duplicated(subset=['Id', 'Contact Owner Name', 'Created Time', 'Modified Time'], keep=False)

0        False
1        False
2        False
3        False
4        False
         ...
18543    False
18544    False
18545    False
18546    False
18547    False
Length: 18548, dtype: bool

In [10]:
df.loc[df.duplicated(subset=['Id', 'Contact Owner Name', 'Created Time', 'Modified Time'], keep=False)]

Empty DataFrame
Columns: [Id, Contact Owner Name, Created Time, Modified Time]
Index: []

In [14]:
df.to_pickle('Contacts.pkl')

In [16]:
percent_missing = (df.isnull().sum() / df.shape[0] * 100).round(2)
percent_missing_with_sign = percent_missing.apply(lambda x: f"{x}%")
output = f"\n{percent_missing_with_sign.to_string()}"
print(output)

Id                    0.0%
Contact Owner Name    0.0%
Created Time          0.0%
Modified Time         0.0%

In [15]:
df_new = pd.read_pickle('Contacts.pkl')
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18548 entries, 0 to 18547
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  18548 non-null  object
 1   Contact Owner Name  18548 non-null  object
 2   Created Time        18548 non-null  datetime64[ns]
 3   Modified Time       18548 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 579.8+ KB